@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, dear passenger!!!</h1>
</div>
    <div class="form-body">
         <div class="col-md-10">
                <input class="form-control" type="text" name="name" placeholder="From" required>
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">Username field cannot be blank!</div>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="text" name="name" placeholder="To" required>
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">Username field cannot be blank!</div>
            </div>       
            <div class="col-md-10">
                <input class="form-control" type="text" name="name" placeholder="Date" required>
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">Username field cannot be blank!</div>
            </div>                        
            <div class="col-md-10">
                <input class="form-control" type="text" name="name" placeholder="Seats" required>
                <div class="valid-feedback">Username field is valid!</div>
                <div class="invalid-feedback">Username field cannot be blank!</div>
            </div> 

            <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-warning">Search</button>
        </div>
    </div>
