@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post">
    <div class="row input-group">
        <input type="text" name="search" id="search" class="form-control"/>
        <input type="text" name="search2" id="search2" class="form-control"/>
        <span> Date:</span> <input type="datetime" name="tripDate"/>
        <span> Seats:</span> <input type="number" name="seats"/>
        <div class="input-group-btn"> 
        <input type="submit" value="Search" class="btn-primary"/>
        </div>
    </div>
</form>
@section Scripts{
    <script>        
    var options = {

      url: function(search) {
        return "/Home/AutoComplete";
      },

      getValue: function(element) {
        return element.label;
      },

      ajaxSettings: {
        dataType: "json",
        method: "POST",
        data: {
          dataType: "json"
        }
      },
          
      preparePostData: function(data) {
        data.search = $("#search").val();
        return data;
      },

      requestDelay: 400
};
    $("#search").easyAutocomplete(options);
    </script>
       <script>        
    var options = {

      url: function(search) {
        return "/Home/AutoComplete";
      },

      getValue: function(element) {
        return element.label;
      },

      ajaxSettings: {
        dataType: "json",
        method: "POST",
        data: {
          dataType: "json"
        }
      },
          
      preparePostData: function(data) {
        data.search = $("#search2").val();
        return data;
      },

      requestDelay: 400
};
    $("#search2").easyAutocomplete(options);
    </script>
}
